<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="color: red;">
    <%= @activity.draft? ? "Draft (Requesting #{@activity.draft.destroy? ? 'Destroy' : 'Publish'})" : 'Published'  %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <% if @activity.draft? && @activity.draft.destroy? %>
    <div>
      <p>Trashed</p>
      <%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% else %>
    <div class="actions">
      <%= form.submit 'Publish' %>
      <%= form.submit 'Draft' %>
    </div>
  <% end %>

  <%# if @activity.draft? %>
    <%# if @activity.draft.destroy? %>
<!--      <div>-->
<!--        <p>Trashed</p>-->
        <%#= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
<!--      </div>-->
    <%# else %>
<!--      <div class="actions">-->
        <%#= form.submit 'Publish' %>
        <%#= form.submit 'Draft' %>
<!--      </div>-->
    <%# end %>
  <%# else %>
<!--    <div class="actions">-->
      <%#= form.submit 'Publish' %>
      <%#= form.submit 'Draft' %>
<!--    </div>-->
  <%# end %>
<% end %>
